@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,100&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.txt {
  &-thin {
    font-weight: 400;
  }
  &-semi-bold {
    font-weight: 800;
  }
  &-bold {
    font-weight: 1000;
  }

  &-sm {
    font-size: 1.4rem;
  }
  &-md {
    font-size: 1.6rem;
  }
  &-lg {
    font-size: 2rem;
  }
  &-underline {
    text-decoration: underline;
  }
}
