@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300&display=swap');
.txt {
  &-fancy {
    font-family: 'Encode Sans Condensed', sans-serif;
  }
  &-thin {
    font-weight: 400;
  }
  &-semi-bold {
    font-weight: 800;
  }
  &-bold {
    font: 1000;
  }

  &-sm {
    font-size: 1.4rem;
  }
  &-md {
    font-size: 1.6rem;
  }
  &-lg {
    font-size: 2rem;
  }
  &-underline {
    text-decoration: underline;
  }
}
