$_Primary: rgb(231, 253, 255);
$_Secondary: rgb(103, 159, 241);
$_Tertiary: rgb(6, 92, 100);

$_Primary-Color: rgb(97, 131, 143);
$_Secondary-Color: rgb(0, 17, 19);
$_Tertiary-Color: rgb(235, 252, 255);
