//page background Color Tags
.bg {
  &-primary {
    background-color: $_Primary;
  }
  &-secondary {
    background-color: $_Secondary;
  }
  &-tertiary {
    background-color: $_Tertiary;
  }
}

//page Text Color Tags
.txt {
  &-primary {
    color: $_Primary-Color;
  }
  &-secondary {
    color: $_Secondary-Color;
  }
  &-tertiary {
    color: $_Tertiary-Color;
  }
}

html {
  background-color: $_Primary !important;
}
main{
  clear: both !important;
}