<main class="grid col-split-2">
    <div>
        &nbsp;
    </div>
    <div >
        <h1><%= blog.content.title %></h1>
        <p><%-blog.content.body %></p>
    </div>
    <aside>
        <!-- social media data here ? -->
    </aside>
</main>