<main class="grid col-split-3" style="clear: both;">
    <!-- Spacer -->
    <div class="">&nbsp;</div>
    <div class="about">
        <h1 class="txt-bold txt-primary txt-lg txt-center">BLOG</h1>
        <hr class="bg-tertiary">
    </div>
    <!-- Spacer -->
    <div>&nbsp;</div>
</main>