<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>My Simple Website</title>
</head>
<body id="body">
    <nav class="navbar">
        <span class="navbar-container">
            <h1 class="navbar-container--h1">Simple Website</h1>
        </span>
        <a class="navbar-link" href="/home">Home</a>
        <a class="navbar-link" href="/about">About</a>
        <a class="navbar-link" href="/picture">Pictures</a>
    </nav>
    <div class="exhibit">
        <div class="exhibit-container">
            <img class="exhibit-image" src="" alt="main header picture" srcset="">
        </div>
    </div>

    <main class="topic">
        <!-- Welcome Container -->
        <section class="topic-welcome">
            <!-- Image Container -->
            <div class="topic-welcome-container">
                <img class="topic-welcome-image" src="imgs/live.png" alt="img" srcset="">
            </div>
             <!-- Text Container -->
             <div class="topic-welcome-container">
                <h2 class="topic-welcome--h2">Lorem ipsum dolor sit amet.</h2>
                <p class="topic-welcome--paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque doloribus minus, cum nobis ea excepturi.</p>
            </div>
        </section>
    </main>

    <footer class="cankle">
        <span class="cankle-copy"></span>
    </footer>
    <script src=""></script>
</body>
</html>