<!DOCTYPE html>
<html lang="en" class="bg-primary">
<head>
    <%- include('./partials/header') %>
</head>
<body>
    <%- include('./partials/navbar') %>
    <%- body %>
    <%- include('./partials/footer') %>
</body> 
</html>