<main class="grid col-split-2">
    <div></div>
    <div>
        <form class="form" class="login" action="" method="post">
            <input class="form-item" type="email" name="" placeholder="YourEmailt@myEmailProvider.com" id="">
            <br>
            <input class="form-item" type="password" name="password" placeholder="Type in your Password" id="">
            <br>
            <input class="form-item form-button" type="submit" value="Login">
        </form>
    </div>
    <div></div>
</main>