<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header') %>
</head>
<body>
    <%- include('./partials/navbar') %>
    <%-include('./partials/form') %>
    <%- include('./partials/footer') %>
</body>
</html>