@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,100&display=swap");
@keyframes emphasize {
  0% {
    border-left: 0rem solid #61838f;
    padding-left: 00rem; }
  100% {
    border-left: 0.3rem solid #61838f;
    padding-left: 0.5rem; } }

.animation {
  animation: 1s ease-out 0s 1 emphasize; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.txt-thin {
  font-weight: 400; }

.txt-semi-bold {
  font-weight: 800; }

.txt-bold {
  font-weight: 1000; }

.txt-sm {
  font-size: 1.4rem; }

.txt-md {
  font-size: 1.6rem; }

.txt-lg {
  font-size: 2rem; }

.txt-underline {
  text-decoration: underline; }

.txt-center {
  text-align: center; }

.txt-poppin {
  font-family: "poppins", sans-serif; }

.txt-space-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.txt-space-2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.txt-space-3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.topics {
  padding: 2.5rem; }
  .topics-welcome {
    text-align: center;
    padding: 2.5rem; }
  .topics-list {
    margin-top: 2rem; }
    .topics-list-card {
      border-left: 0.3rem solid #61838f;
      padding-left: 0.5rem; }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px; }

.fa:hover {
  opacity: 0.7; }

.fa-facebook {
  background: #3b5998;
  color: white; }

.fa-twitter {
  background: #55acee;
  color: white; }

.fa-google {
  background: #dd4b39;
  color: white; }

.fa-linkedin {
  background: #007bb5;
  color: white; }

.fa-youtube {
  background: #bb0000;
  color: white; }

.fa-instagram {
  background: #125688;
  color: white; }

.fa-pinterest {
  background: #cb2027;
  color: white; }

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.fa-skype {
  background: #00aff0;
  color: white; }

.fa-android {
  background: #a4c639;
  color: white; }

.fa-dribbble {
  background: #ea4c89;
  color: white; }

.fa-vimeo {
  background: #45bbff;
  color: white; }

.fa-tumblr {
  background: #2c4762;
  color: white; }

.fa-vine {
  background: #00b489;
  color: white; }

.fa-foursquare {
  background: #45bbff;
  color: white; }

.fa-stumbleupon {
  background: #eb4924;
  color: white; }

.fa-flickr {
  background: #f40083;
  color: white; }

.fa-yahoo {
  background: #430297;
  color: white; }

.fa-soundcloud {
  background: #ff5500;
  color: white; }

.fa-reddit {
  background: #ff5700;
  color: white; }

.fa-rss {
  background: #ff6600;
  color: white; }

.about {
  /* To Avoid Empty Rulset Warnings Eweee*/
  margin: 0px; }

.navbar-banner-showcase {
  margin: 0; }

.navbar-banner-image {
  object-fit: cover;
  object-position: top middle;
  width: 100vw;
  height: 55vh; }

.navbar-divider-1 {
  float: left; }

.navbar-divider-2 {
  display: inline-block;
  padding-top: 1.5rem;
  padding-left: 0.6rem; }

.navbar-logo {
  display: inline;
  vertical-align: bottom; }
  .navbar-logo--header {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #61838f; }

.navbar-link {
  padding: 1.5rem;
  color: #61838f;
  text-decoration: none; }
  .navbar-link:hover {
    background-color: #065c64;
    color: #ebfcff;
    text-decoration: none; }
  .navbar-link:active {
    color: red; }

.grid {
  display: grid; }
  .grid-gap--sm {
    grid-gap: 1rem; }
  .grid-gap--md {
    grid-gap: 2rem; }
  .grid-gap--lg {
    grid-gap: 3rem; }

.col-1 {
  grid-template-columns: repeat(1, 1fr); }

.col-2 {
  grid-template-columns: repeat(2, 1fr); }

.col-3 {
  grid-template-columns: repeat(3, 1fr); }

.col-4 {
  grid-template-columns: repeat(4, 1fr); }

.col-5 {
  grid-template-columns: repeat(5, 1fr); }

.col-split-2 {
  grid-template-columns: 1fr 2fr 1fr; }

.col-split-3 {
  grid-template-columns: 1fr 3fr 1fr; }

.row {
  grid-template-rows: minmax(10rem, auto); }

.bg-primary {
  background-color: #e7fdff; }

.bg-secondary {
  background-color: #679ff1; }

.bg-tertiary {
  background-color: #065c64; }

.txt-primary {
  color: #61838f; }

.txt-secondary {
  color: #001113; }

.txt-tertiary {
  color: #ebfcff; }
