<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <a class="uk-margin-small-left txt-fancy txt-md uk-link-muted" href="/">Simple Website</a>

        <ul class="uk-navbar-item">
            <li>
                <a href="/" class="uk-link-muted">
                    <span class="uk-icon uk-margin-small-left" uk-icon="icon: home"></span>
                    Home
                </a>
                <a href="about" class="uk-link-muted">
                    <span class="uk-icon uk-margin-small-left" uk-icon="icon: info"></span>
                    About
                </a>
                <a href="blog" class="uk-link-muted">
                    <span class="uk-icon uk-margin-small-left" uk-icon="icon: pencil"></span>
                    Blog
                </a>
            </li>
        </ul> 
    </div>
</nav>