<nav class="navbar">
    <!-- logo -->
    <div class="navbar-divider-1">
        <span class="navbar-logo">
            <h1 class="navbar-logo--header">Simple-Website</h1>
            <br>
        </span>
    </div>
    <!-- Navigation -->
    <div class="navbar-divider-2 txt-semi-bold">
        <a class='navbar-link' href="/">Home</a>
        <a class='navbar-link' href="/about">About</a>
        <a class='navbar-link' href="/blog">Simple Blog</a>
    </div>
</nav>