.topics {
  padding: 2.5rem;
  &-welcome {
    text-align: center;
    padding: 2.5rem;
  }
  &-list {
    margin-top: 2rem;
    &-card {
      border-left: 0.3rem solid $_Primary-Color;
      padding-left: 0.5rem;
    }
  }
}
