.grid {
  display: grid;
  &-gap {
    &--sm {
      grid-gap: 1rem;
    }
    &--md {
      grid-gap: 2rem;
    }
    &--lg {
      grid-gap: 3rem;
    }
  }
}
.col {
  &-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  &-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

.row {
  grid-template-rows: minmax(10rem, auto);
}
